a{
  color: #000;
  text-decoration: none;
  display: block;
}
.main{
  display: flex;
}
.menu{
  position: relative;
  margin: 100px 0 0 100px;
  width: 150px;
}
#toggle_area{
  border: 1px solid #999;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.menu ul{
  border: 1px solid #999;
  position: absolute;
  width: 100%; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: none;
}
.menu ul li{
  list-style: none;
  text-align: center;
  padding: 2px 0;
}
.menu ul li a:hover{
  background-color: khaki;
}
.con_box{
  margin: 100px 0 0 50px;
  display: flex;
}
.con_box .tit div{
  text-align: right;
  margin-right: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
.con_box .txt div{
  margin-bottom: 10px;
}